<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="IDDP" value="https://identitydivision.pkgs.visualstudio.com/_packaging/IDDP/nuget/v3/index.json" />
	  <add key="WilsonLocal" value ="c:\github\wilson\brentsch\dev\artifacts" />
	  <add key="WilsonRelease6.21.1" value ="C:\github\wilson\rel\6.22.1" />
  </packageSources>
  <disabledPackageSources>
    <clear />
  </disabledPackageSources>
</configuration>
