<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
	<add key="WilsonLocal" value ="c:\github\wilson\brentsch\dev\artifacts" />
    <add key="WilsonRelease6.21.1" value ="C:\github\wilson\rel\6.22.1" />
  </packageSources>
</configuration>
